@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Class Monitoring Attention TrEnds<br />
    HackTM<br />
    Cristi Fulop, Lambi Slageana, Vlad Marica, Alin Brindusescu
</address>

<address>
    <strong>Support:</strong> <a href="mailto:lambi.slagiana95@gmail.com">lambi.slagiana95@gmail.com</a><br />
</address>
